---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hr from "@/components/Hr.astro";
import IconRss from "@/assets/icons/IconRss.svg";
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <div class="flex flex-col md:flex-row">
        <img
          src="/me.jpg"
          alt="avatar"
          class="mx-auto mb-4 h-full w-84 md:mx-0 md:mr-5 md:mb-0 md:w-1/2"
        />
        <p class="text-center md:text-left">
          Hey, <b>I'm Leonel Dias!</b><br /><br />

          I was born in a small town in north of Portugal and have always been
          fascinated by maps and technology. I enjoy solving real-world problems
          using web tools and geotechnology.<br /><br />

          Right now, I’m leading projects at APDL (Port Administration of Douro,
          Leixões, and Viana do Castelo), where we make port management smarter
          and more efficient. My work is a mix of software development and
          project management, always focused on finding simple solutions for
          complex challenges.<br /><br />

          I also believe in open-source and the power of communities to create
          real impact.<br /><br />
        </p>
      </div>
    </section>
    <Hr />

    <!-- Section -->
    <section id="projects" class="py-8">
      <div
        class="flex flex-col space-y-4 md:flex-row md:justify-center md:space-y-0 md:space-x-8"
      >
        <!-- About -->
        <a href="/about" class="md:w-1/2">
          <div class="project-card w-full rounded-md bg-gray-100 p-4">
            <h3 class="mb-2 text-xl font-semibold">About me</h3>
            <p class="text-gray-700">
              Check out my about page to learn more about me
            </p>
          </div></a
        >

        <!-- Projects -->
        <a href="/about" class="md:w-1/2">
          <div class="project-card w-full rounded-md bg-gray-100 p-4">
            <h3 class="mb-2 text-xl font-semibold">Projects</h3>
            <p class="text-gray-700">
              Check out some of the projects I've been working on
            </p>
          </div>
        </a>
      </div>
    </section>
  </main>
  <Footer />

  <script>
    document.addEventListener("astro:page-load", () => {
      const indexLayout = (
        document.querySelector("#main-content") as HTMLElement
      )?.dataset?.layout;
      if (indexLayout) {
        sessionStorage.setItem("backUrl", "/");
      }
    });
  </script>
</Layout>
